<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlf.mapper.FoodTagMapper">

    <resultMap id="BaseResultMap" type="com.xlf.domain.FoodTag">
            <id property="foodId" column="food_id" jdbcType="BIGINT"/>
            <id property="tagId" column="tag_id" jdbcType="BIGINT"/>
            <result property="isDefault" column="is_default" jdbcType="INTEGER"/>
        <result property="is_open_checkbox" column="is_open_checkbox" jdbcType="BIT"/>
        <result property="desc" column="desc" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        food_id,tag_id,is_default,is_open_checkbox,`desc`
    </sql>
</mapper>
